main {
  position: absolute;
  top: 25%;
  bottom: 50%;
  color: white;
  display: flex;
  align-items: center;
  width: 72%;
  background-color: rgb(0, 35, 85);
  justify-content: center;
  border-radius: 65px;
}

.time {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.number {font-size: 60px;}

.time div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.name {
  color: orange;
  font-weight: bold;
}

.title {
  color: white;
  font-weight: bold;
  font-size: 50px;
  margin-top: 30px;
  border: solid rgb(0, 35, 85) 5px;
  border-radius: 30px;
  padding: 20px 30px;
}